html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}





@font-face {
	font-family: "primary-font";
	src: url(fonts/caveat-regular-webfont.woff) format('woff'),
		 url(fonts/caveat-regular-webfont.woff2) format('woff2');
}

@font-face {
	font-family: "marker-font";
	src: url(fonts/comic_zine_ot-webfont.woff) format('woff'),
		 url(fonts/comic_zine_ot-webfont.woff2) format('woff2');
}


body{
	display: flex;
	justify-content: center;

}

:root{
	font-family: "primary-font";
}

button{
	font-family: "primary-font";
}



.main-container{
	display: grid;
	width: 80vw;
	height: 100vh;
	background-color: #EE66A6;
	justify-content: stretch;
	grid-template-rows: 2fr 8fr;
	border: 10px solid #384B70;
	border-radius: 2rem;
}

.heading{
	background-color: #FF7AB9;
	display: grid;
	grid-auto-flow:column;
	grid-template-columns: 1fr 3fr 1fr;
	gap: .5rem;
	padding: .5rem;
	border-radius: 2rem 2rem 0 0 ;
	justify-content: space-around;
	flex-direction: row-reverse;
	justify-content: space-evenly;

}

.heading button{
	background-color: #F1FDD0;
	border: 2px solid #e7ffa9;
	border-radius: 10%;
	font-size: 1.4rem;
}

.display-window{
	border-radius: 10%;
	flex-basis: 70%;
	display: flex;
	background-color: #384B70;
	color: #FF94C6;
	border: 3px dashed white;
	border-radius: 1.5rem;
	font-size: 3rem;
	justify-content: center;
	align-items: center;
}



.game-container{
	display: flex;
	justify-content: center;
	align-items: center;

}

#game-pad{
	border: 5px solid #384B70;
	border-radius: 2rem;
	width: 25rem;
	height: 25rem;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,1fr);

}


.cell{
	
	background-color: #ffc294;
	border: 2px solid blueviolet;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "marker-font";
	font-size:5rem;
}

.cell:nth-child(1){
	border-top-left-radius:1.5rem ;
}
.cell:nth-child(3){
	border-top-right-radius:1.5rem ;
}
.cell:nth-child(7){
	border-bottom-left-radius:1.5rem ;
}
.cell:nth-child(9){
	border-bottom-right-radius:1.5rem ;
}

#input-dialog::backdrop{

background-color: hotpink;

}
#input-dialog{
	width: 50vw;
	height: 50vh;
	
	border-radius: 4%;
	margin: auto;
	padding: 0;
	
	}
	
	
#input-dialog form{
	display: grid;
	grid-template-rows: repeat(3,1fr);
	place-items: center;
	place-content: ;
	background-color: #e7ffa9;
	color: #384B70;
	height: 100%;

}

form .player-name{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 2%;

}


form input{
	font-family: "primary-font";
	font-size: 1.5rem;
	border-radius: 2rem;
	background-color: #f8ffe6;
}




form input:hover{
	background-color: #ffffff;
	transition: 100ms;
}
#input-dialog form button{
	justify-self: center;
	/* align-self: center; */
	max-height: 70%;
	border: none;
	padding: .8rem;
	border-radius: 2rem;
	font-size: 1.5rem;
	background-color:#ffc294;

}

#input-dialog button:hover{
	transform: scale(1.01);
	transition: 500ms;
	box-shadow: 1px .5px .5px red;
	background-color: #ffc79d;
}

.cell:hover{
	background-color: #ffc79d;
	cursor:crosshair;
}

button:hover{
	cursor: pointer;
}